@charset 'UTF-8';
/* Ресет */
/* My resets */
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a
{
    text-decoration: none;
}

button
{
    border: none;
    outline: none;
    background: none;
}

input
{
    outline: none;
}

/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}

html
{
    height: 100%;
}

body
{
    line-height: 1;
}

ol,
ul
{
    list-style: none;
}

blockquote,
q
{
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

/* Шрифты */
@font-face
{
    font-family: 'FuturaBookC';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/FuturaBookC.eot');
    src: url('../fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaBookC.svg#FuturaBookC') format('svg'), url('../fonts/FuturaBookC.ttf') format('truetype'), url('../fonts/FuturaBookC.woff') format('woff'), url('../fonts/FuturaBookC.woff2') format('woff2');
}
/* Библеотеки */
/* Глобальное */
body
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    min-height: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

main
{
    min-height: 46.4vh;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

*
{
    font-family: 'FuturaBookC';
}

/* UI компоненты */
/* Модальное окно */
.modal
{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    width: 100%;
    height: 100%;

    -webkit-transition: .7s ease all;
         -o-transition: .7s ease all;
            transition: .7s ease all;
    -webkit-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
    pointer-events: none;

    opacity: 0;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.modal__inner
{
    min-width: 300px;
    max-width: none;
    min-height: 50px;
    max-height: none;
    padding: 10px;

    -webkit-transition: .3s all;
         -o-transition: .3s all;
            transition: .3s all;
    pointer-events: none;

    border-radius: 10px;
    background: white;
}
.modal__background
{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: .5s all;
         -o-transition: .5s all;
            transition: .5s all;
    pointer-events: none;

    opacity: 0;
    background: rgba(0, 0, 0, .5);
}
.modal__background.active
{
    pointer-events: all;

    opacity: 1;
}
.modal.active
{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    pointer-events: all;

    opacity: 1;
}
.modal.active .modal__inner
{
    pointer-events: all;
}

/* Анимации */
/* Оснвоное */
.index__content
{
    padding: 52px 69px 60px 60px;

    border-radius: 12px;
    background: #fff;
    -webkit-box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
            box-shadow: 0 1px 25px rgba(13, 41, 56, .02);
}
.index__description
{
    line-height: 28px;

    color: #727879;
}
.index__top
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.index__miniTitle
{
    font-size: 20px;
    line-height: 25px;

    color: #4c4e4f;
}
.index__close
{
    cursor: pointer;
    -webkit-transition: .3s ease all;
         -o-transition: .3s ease all;
            transition: .3s ease all;
}
.index__close.select
{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
.index__bottom
{
    display: none;

    margin-top: 20px;
}
.index__line
{
    width: 100%;
    margin-top: 30px;

    border: .5px solid #eee;
}
.index__question:not(:last-of-type)
{
    margin-bottom: 32px;
}
.index__logo
{
    margin: 0 auto;
    margin: 88px 0 74px;
}
.index__logo-wrp
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.index__title
{
    font-size: 24px;
    line-height: 30px;

    margin-bottom: 60px;

    text-align: center;

    color: #4c4e4f;
}
.index__imgs
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.index__imgs-img
{
    width: 154px;
    height: 218px;
}
.index__imgs-wrp:not(:last-of-type)
{
    margin-right: 17px;
}

/* Адаптация */
@media (max-width: 960px)
{
    .index__imgs
    {
            flex-direction: column;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .index__imgs-wrp:not(:last-of-type)
    {
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media (max-width: 550px)
{
    .index__logo
    {
        width: 364px;
    }
}
@media (max-width: 350px)
{
    .index__logo
    {
        width: 250px;
    }
}

/*# sourceMappingURL=style.css.map */
